html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.iconcontainer {
  text-align: center;
  height: 70%;
}

.iconcontainer img {
  width: 5%;
  margin: 10px;
}

.javascripticon, .cssicon, .reacticon, .postgresqlicon {
  animation-name: iconanimation;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.htmlicon , .typescripticon, .nodejicon{
  animation-name: iconanimation;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes iconanimation {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-10px)
  }
}