.divnave {
  position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 10vh;
  left: 15vw;
}

.divnave1 {
  background-color: black;
  width: 70vw;
  height: 43vw;
  border-radius: 10px;
  overflow: hidden;
}

.title {
  font-size: 2.5vw;
  font-weight: bold;
  color: #f5f5f5;
  text-shadow: 1px 2px 3px rgb(5, 5, 5);
}

.imgNave {
  width: 130%;
  top: -20%;
  left: -15%;
  overflow: hidden;
  position: absolute;
}

.imgFondoNave {
  width: 140%;
  top: -10%;
  left: -15%;
  overflow: hidden;
  position: absolute;
}
.planeta {
  position: absolute;
  top: 5%;
  right: -27%;
}
.planeta1 {
  position: absolute;
  top: 20%;
  right: 40%;
}
.planeta2 {
  position: absolute;
  top: 20%;
  right: 60%;
}
.irse {
  animation-name: irse;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.iconcontainer {
  text-align: center;
  height: 70%;
}


.iconcontainer img {
  width: 7%;
  margin: 37px;
  shape-outside: margin-box;
  filter: drop-shadow(-3px 8px 2px rgb(0 0 0 / 0.7));
}
.gmail {
  width: 12%!important;
}

@keyframes irse {
  0% {
  }
  99% {
    top:  200%;
  }
  100% {
    display: none;
    top:  200%;
  }
}

.venir {
  animation-name: venir;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes venir {
  0% {
    top:  200%;
  }
  100% {
  }
}
